@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Recetario</title>
  
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/business-frontpage.css" rel="stylesheet" />
    <link href="~/Content/estilos-recetario.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Inicio</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" class="elements" data-toggle="modal" data-target=".about_mimodal">Acerca de la página</a>

                    </li>
                    <li>
                        <a href="@Url.Action("Contact", "Home")" class="elements">Contacto</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Login", "Account")" class="elements">Registrarse</a>
                    </li>
                    
                   
                </ul>

               <form class="navbar-form navbar-right">
                <!--     <div class="form-group">
                        <input type="text" placeholder="Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control">
                    </div>-->
                    <button type="submit" class="btn btn-success">Entrar</button>
                </form>
            </div>

                
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header img-responsive">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Recetario</h1>
                    <span class="prueba">WOCOJI</span>
                </div>
            </div>
        </div>
    </header>

    <!-- Modal--->
    <div class="modal fade about_mimodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">OKEY!!</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">

        <hr />
        <div class="row">
            <div class="col-sm-4">
                <img class="img-responsive img-center"src="../Images/post.png" alt="">
            </div>
            <div class="col-sm-4">
                <img class="img-responsive img-center" src="../Images/post.png" alt="">
              </div>
            <div class="col-sm-4">
                <img class="img-responsive img-center" src="../Images/post.png" alt="">
              </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Helen Vielma 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../Scripts/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../Scripts/bootstrap.js"></script>

   
</body>

</html>
